* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #EAE7DC !important;
  font-family: "Nixie One", "Comfortaa", cursive, sans-serif;
}

.content {
  padding: 0 2rem;
  margin-top: 2rem;
  color: #8e8d8a;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", cursive, sans-serif;
  font-weight: bold;
}

@media (max-width: 1000px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 70%;
  }
}
/**************** FORMS ****************/
.form {
  display: flex;
}
.form__standard {
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}
.form__standard__title {
  transform: translate(-25%, 30%);
  font-size: 3.5rem;
  color: #E85A4F;
}
.form__multiple {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #FFF;
  padding: 2.5rem 0;
}
.form__multiple__title {
  max-width: 40vw;
  float: right;
}
.form__multiple__title h3 {
  font-size: 2.7rem;
  color: #E98074;
  text-align: center;
  line-height: 1.5;
}
.form-field {
  padding: 0.7rem 0;
}
.form-field label {
  width: 15rem;
  text-align: center;
}
.form-field input, .form-field select {
  width: 15rem;
  border-color: #EAE7DC;
}
.form-btn {
  margin-top: 2.5rem;
  text-align: center;
  transform: translateX(10%);
}
.form-btn input[type=submit], .form-btn button {
  border-radius: 8px;
  padding: 0.5rem 1.1rem;
  border: none;
  background-color: #E85A4F;
  color: #EAE7DC;
  font-weight: bold;
}

.reset-form {
  display: inline;
}

input:focus, select:focus {
  outline-color: #E98074;
}

@media (max-width: 750px) {
  .form {
    margin-top: 8rem;
  }
}
@media (max-width: 650px) {
  .form {
    flex-direction: column;
    margin-top: 5rem;
  }
  .form__standard__title {
    transform: translate(0, 0);
    margin-bottom: 3rem;
  }
  .form-btn {
    transform: translateX(0);
  }
}
@media (max-width: 400px) {
  .form-field label {
    width: 100%;
  }
  .form-field input, .form-field select {
    width: 100%;
  }
}
/********************************/
/**************** TODAY BOOKINGS ****************/
.court-title {
  padding: 1rem;
}

.court-times {
  border: 1px solid #777;
  text-align: center;
  margin-bottom: 20px;
  overflow-x: auto;
}

.today-table {
  font-size: 18px;
  margin: 0 auto;
}
.today-table tr * {
  padding: 0.5rem 1rem;
}
.today-table a {
  cursor: pointer;
}
.today-table a:hover {
  color: #E98074;
}

.trigger__popup {
  color: #E98074;
}

.popup {
  display: none;
  position: relative;
  z-index: 1;
}
.popup__text {
  z-index: 10;
  background-color: rgba(142, 141, 138, 0.8);
  /* color-secondary-dark */
  color: #E85A4F;
  /* color-primary */
  text-decoration: none;
  font-weight: bold;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
  transform: translateY(-10%);
}

@media (max-width: 600px) {
  .today-table {
    font-size: 10px;
  }

  .today-table tr * {
    padding: 4px 10px;
  }
}
/********************************/
/**************** ACCOUNT ****************/
.account-info {
  top: 1rem;
  height: 100%;
  position: sticky;
}

/********************************/
/**************** MYBOOKINGS ****************/
#mybookings__title {
  text-align: center;
  color: #E85A4F;
  margin: 2rem 0;
}

.forms {
  text-align: center;
}
.forms *:not(:last-child) {
  margin: 1rem auto;
}
.forms form:not(:last-child) {
  border-bottom: 1px solid #FFF;
}
.forms .form-field {
  padding: 0.7rem 0;
  width: 60%;
  display: inline-block;
  transform: translate(0, 0);
}
.forms .form-field label {
  width: 15rem;
  text-align: center;
}
.forms .form-field input, .forms .form-field select {
  width: 15rem;
  border-color: #EAE7DC;
}
.forms-btn {
  text-align: center;
  width: 20%;
  display: inline-block;
}
.forms-btn input[type=submit], .forms-btn button {
  border-radius: 8px;
  padding: 0.7rem 1.1rem;
  border: none;
  background-color: #E85A4F;
  color: #EAE7DC;
  font-weight: bold;
  margin: 1rem 0 0 0;
}

#special-field {
  transform: translate(0, -50%);
}

@media (max-width: 500px) {
  .forms *:not(:last-child) {
    margin: 2rem auto;
  }

  .forms .form-field {
    transform: translate(-20%, 0);
  }

  .forms-btn {
    width: 30%;
  }

  #special-field {
    transform: translate(-20%, -30%);
  }
}
.ownalert-success {
  background-color: #399d61;
  color: white;
}
.ownalert-danger {
  background-color: #9d3939;
  color: white;
}

.navbardiv {
  height: 1px;
  background-color: #E98074;
  width: 98%;
  margin: 0 auto;
}

.nav {
  background-color: #EAE7DC !important;
}
.nav__title {
  color: #E85A4F !important;
  font-weight: bold;
}
.nav-link {
  color: #E85A4F !important;
  font-weight: bold;
}
.nav-link:hover {
  color: #E98074 !important;
}

/*# sourceMappingURL=main.css.map */
