* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: $color-secondary-light !important;
    font-family: 'Nixie One', 'Comfortaa', cursive, sans-serif;
}

.content {
    padding: 0 2rem;
    margin-top: 2rem;
    color: $color-secondary-dark;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive, sans-serif;
}