.ownalert {
    &-success {
        background-color: $color-success;
        color: white;
    }

    &-danger {
        background-color: $color-danger;
        color: white;
    }
}

.navbardiv {
    height: 1px;
    background-color: $color-primary-light;
    width: 98%;
    margin: 0 auto;
}

.nav {
    background-color: $color-secondary-light !important;

    &__title {
        color: $color-primary !important;
        font-weight: bold;
    }

    &-link {
        color: $color-primary !important;
        font-weight: bold;

        &:hover {
            color: $color-primary-light !important;
        }
    }
}