// $color-primary: #0F70A9; - For Luis' club

$color-primary-light: #E98074;
$color-primary: #E85A4F;

$color-success: #399d61;
$color-danger: #9d3939;


$color-secondary-light: #EAE7DC;
$color-secondary: #D8C3A5;
$color-secondary-dark: #8E8D8A;

$color-white: #FFF;
$color-grey: #999;
$color-black: #000;