.schedule-form {
    width: 40%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.schedule-form label {
    padding-top: 20px;
}

.schedule-form button {
    width: 50%;
    margin: 20px auto;
}