{% extends "layout.html" %}

{% block content %}

    <h1>Manage your account</h1>

    <div class="account-info">
        <h3>Account Info</h3>
        <p>Username: <strong>{{ userInfo["uname"] }}</strong></p>
        <p>Email address: <strong>{{ userInfo["eaddress"] }}</strong></p>
        <p>Account type: <strong>{{ userInfo["type"] }}</strong></p>
    </div>

    <div class="form form__multiple">
        <div class="form__multiple__title">
            <h3>Change password</h3>
        </div>
        <form action="/api/changepassword" method="POST">
            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            
            <div class="form-field">
                <label for="newpassword">New Password</label>
                <input type="password" name="newpassword" id="newpassword">
            </div>
            
            <div class="form-field">
                <label for="confirmation">Confirmation</label>
                <input type="password" name="confirmation" id="confirmation">
            </div>

            <div class="form-btn">
                <input type="submit" id="changepassword" name="changepassword" value="Change password">
            </div>
        </form>
    </div>

    <div class="form form__multiple">
        <div class="form__multiple__title">
            <h3>Change email</h3>
        </div>
        <form action="/api/changeemail" method="POST" autocomplete="off">
            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            
            <div class="form-field">
                <label for="newemail">New email</label>
                <input type="email" name="newemail" id="newemail">
            </div>
            
            <div class="form-btn">
                <input type="submit" id="changeemail" name="changeemail" value="Change email">
            </div>
        </form>
    </div>

    <div class="form form__multiple">
        <div class="form__multiple__title">
            <h3>Delete account</h3>
        </div>
        <form action="/api/deleteaccount" method="POST">
            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            
            <div class="form-btn">
                <input type="submit" id="deleteaccount" name="deleteaccount" value="Delete">
            </div>
        </form>
    </div>

{% endblock %}