{% extends "layout.html" %}

{% block content %}

    <h1>Manage your account</h1>

    <h3>Account Info</h3>

    <p>Username: <strong>{{ userInfo["uname"] }}</strong></p>
    <p>Email address: <strong>{{ userInfo["eaddress"] }}</strong></p>
    <p>Account type: <strong>{{ userInfo["type"] }}</strong></p>

    <h3>Change password</h3>

    <form action="/api/changepassword" method="POST">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="newpassword">New Password</label>
        <input type="password" name="newpassword" id="newpassword">

        <label for="confirmation">Confirm new password</label>
        <input type="password" name="confirmation" id="confirmation">

        <input type="submit" id="changepassword" name="changepassword" value="Change password">
    </form>

    <h3>Change email</h3>

    <form action="/api/changeemail" method="POST">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="newemail">New email</label>
        <input type="email" name="newemail" id="newemail">

        <input type="submit" id="changeemail" name="changeemail" value="Change email">
    </form>

    <h3>Delete account</h3>

    <form action="/api/deleteaccount" method="POST">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <input type="submit" id="deleteaccount" name="deleteaccount" value="Delete">
    </form>

{% endblock %}