{% extends "layout.html" %}

{% block content %}

    <h1>ADMIN</h1>

    <h3>Check day</h3>

    <form action="/admin" method="POST">
        {{ form_check.csrf_token }}

        {{ form_check.court.label }}
        {{ form_check.court }}

        {{ form_check.date.label }}
        {{ form_check.date }}

        <input type="submit" id="show_day" name="show_day" value="Show day">
    </form>

    <form action="/admin" method="GET">
        <button>Reset</button>
    </form>

    {% if msg %}
        <h5>{{ msg }}</h5>
    {% elif bd %}
        {% for b in bd %}
            <h5>BOOKING</h5>
            <ul>
                <li>Day - {{ b[0] }}</li>
                <li>Date - {{ b[1] }}</li>
                <li>Time - {{ b[2] }}</li>
                <li>Court - {{b[3] }}</li>
                <li>People playing - {{ b[4] }}</li>
            </ul>

            <form action="/admin" method="POST">
                <input type="hidden" name="id" value="{{ b[5] }}">
                <input type="submit" id="delete_booking" name="delete_booking" value="Delete booking">
            </form>
        {% endfor %}
    {% endif %}

    <h3>Create index</h3>
    
    <form action="/admin" method="POST">
        <label for="name">Index name</label>
        <input type="text" name="name" id="name">

        <label for="table">Table</label>
        <input type="text" name="table" id="table">

        <label for="columns">Columns</label>
        <input type="text" name="columns" id="columns">

        <input type="submit" id="create_index" name="create_index" value="Create index">
    </form>

    <h3>Book day</h3>

    <form action="/admin" method="POST">
        {{ form_bookday.csrf_token }}

        {{ form_bookday.court.label }}
        {{ form_bookday.court}}

        {{ form_bookday.date.label }}
        {{ form_bookday.date }}

        <input type="submit" name="book_day" id="book_day" value="Book day">
    </form>

{% endblock %}