{% extends "layout.html" %}

{% block content %}

    <div class="form form__standard">
        <h1 class="form__standard__title">BOOKING</h1>
        <form action="/makebooking" method="POST" autocomplete="off">
            {{ form.csrf_token }}
            
            <div class="form-field">
                {{ form.people.label }}
                {{ form.people }}
            </div>
            
            <div class="form-field">
                {{ form.court.label }}
                {{ form.court }}
            </div>
            
            <div class="form-field">
                {{ form.date.label }}
                {{ form.date }}
            </div>
            
            <div class="form-field">
                {{ form.time.label }}
                {{ form.time }}
            </div>
            
            <div class="form-btn">
                <button>Submit</button>
            </div>
        </form>
    </div>

{% endblock %}