{% extends "layout.html" %}

{% block content %}
    <form action="/makeadmin" method="POST">
        <label for="secretpassword">Secret password</label>
        <input type="password" name="secretpassword" id="secretpassword">

        <label for="email">Admin email</label>
        <input type="email" name="email" id="email">

        <label for="username">Admin username</label>
        <input type="text" name="username" id="username">

        <label for="password">Admin password</label>
        <input type="password" name="password" id="password">

        <input type="submit" id="make_admin" name="make_admin" value="Make admin">
    </form>
{% endblock %}