{% extends "layout.html" %}

{% block content %}

    <h1>REGISTER</h1>

    <form action="/api/createaccount" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="pswdconf">Password confirmation</label>
        <input type="password" name="pswdconf" id="pswdconf">

        <button>Register</button>
    </form>

{% endblock %}
