{% extends "layout.html" %}

{% block content %}

{% for court in cd %}

<div class="court-times">
    <h3 class='court-title'>Court {{ court }}</h3>
    
    <table class="today-table">
        <thead>
            <tr>
                {% for time in pt[1:hlenpt] %}
                    {% if time != 'Choose a time' %}
                        <th>{{ time }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for time in cd[court] %}
                    {% if time in pt[1:hlenpt] %}
                        {% if cd[court][time]["username"] %}
                            {% if cd[court][time]["username"]|length > 8 %}
                            <td>
                                <div class="popup popup__{{ cd[court][time]['username'] }}{{ loop.index }}">
                                    <div class="popup__text">{{ cd[court][time]["username"] }}</div>
                                </div>
                                <a class="trigger__popup {{ cd[court][time]['username'] }}{{ loop.index }}">{{ cd[court][time]["username"][:7] }}..</a>
                            </td>
                            {% else %}
                                <td>
                                    <div class="popup popup__{{ cd[court][time]['username'] }}{{ loop.index }}">
                                        <div class="popup__text">{{ cd[court][time]["username"] }}</div>
                                    </div>
                                    <a class="trigger__popup {{ cd[court][time]['username'] }}{{ loop.index }}">{{ cd[court][time]["username"] }}</a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> - </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
    
    <table class="today-table">
        <thead>
            <tr>
                {% for time in pt[hlenpt:] %}
                    {% if time != 'Choose a time' %}
                        <th>{{ time }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for time in cd[court] %}
                    {% if time in pt[hlenpt:] %}
                        {% if cd[court][time]["username"] %}
                            {% if cd[court][time]["username"]|length > 8 %}
                                <td>
                                    <div class="popup popup__{{ cd[court][time]['username'] }}{{ loop.index }}">
                                        <div class="popup__text">{{ cd[court][time]["username"] }}</div>
                                    </div>
                                    <a class="trigger__popup {{ cd[court][time]['username'] }}{{ loop.index }}">{{ cd[court][time]["username"][:7] }}..</a>
                                </td>
                            {% else %}
                                <td>
                                    <div class="popup popup__{{ cd[court][time]['username'] }}{{ loop.index }}">
                                        <div class="popup__text">{{ cd[court][time]["username"] }}</div>
                                    </div>
                                    <a class="trigger__popup {{ cd[court][time]['username'] }}{{ loop.index }}">{{ cd[court][time]["username"] }}</a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> - </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tr>
        </tbody>
    </table>
</div>

{% endfor %}

{% endblock %}

{% block js %}
    <script>
        // OPEN POPUP
        let trigger = document.querySelectorAll('.trigger__popup')
        let openPopup = function() {
            let popupClass = `.popup__${this.classList[1]}`
            let popup = document.querySelector(popupClass)
            popup.style.display = 'block'
            this.style.display = 'none'
        }
        for (let i = 0; i < trigger.length; i++) {
            trigger[i].addEventListener('click', openPopup)
        }

        // CLOSE POPUP
        let popup = document.querySelectorAll('.popup')
        let closePopup = function() {
            this.style.display = 'none'
            let linkClass = `.${this.classList[1].slice(7)}`
            let link = document.querySelector(linkClass)
            link.style.display = 'block'
        }
        for (let i = 0; i < popup.length; i++) {
            popup[i].addEventListener('click', closePopup)
        }
    </script>
{% endblock %}