{% extends "layout.html" %}

{% block content %}

    <h1>MY UPCOMING BOOKINGS</h1>

    {% if msg %}
        <h4>{{ msg }}</h4>
    {% else %}
        {% for b in bd %}
            <h4>BOOKING</h4>
            <ul>
                <li>Day - {{ b[0] }}</li>
                <li>Date - {{ b[1] }}</li>
                <li>Time - {{ b[2] }}</li>
                <li>Court - {{b[3] }}</li>
                <li>People playing - {{ b[4] }}</li>
            </ul>

            <form action="/upcoming" method="POST">
                <input type="hidden" name="id" value="{{ b[5] }}">
                <button>Delete</button>
            </form>
        {% endfor %}
    {% endif %}


{% endblock %}