{% extends "layout.html" %}

{% block content %}

    <h1>MY UPCOMING BOOKINGS</h1>

    {% if msg %}
        <h4>{{ msg }}</h4>
    {% else %}
        {% for r in rd %}
            <h4>BOOKING</h4>
            <ul>
                <li>Day - {{ r[0] }}</li>
                <li>Date - {{ r[1] }}</li>
                <li>Time - {{ r[2] }}</li>
                <li>Court - {{ r[3] }}</li>
                <li>People playing - {{ r[4] }}</li>
            </ul>

            <form action="/upcoming" method="POST">
                <input type="hidden" name="id" value="{{ r[5] }}">
                <button>Delete</button>
            </form>
        {% endfor %}
    {% endif %}


{% endblock %}